<h1 class="header">PDX CUTS</h1>
<h2 class="smallHeader">Success!</h2>
<p class="text">Your Client has been saved to $stylist.getName().</p>
</br>
<a  class= "links" href="/stylists">View Stylists</a>
<a  class= "links" href="/">Go Home</a>
