<div class="container">
  <h1 class="header">PDX CUTS</h1>
  <div class="list">
    <ul>
      <h2 class="smallHeader">Stylists</h2>
      #foreach($stylist in $stylists)
      <li><span><a class = "stylists" href="/stylists/$stylist.getId()">$stylist.getName()</span></a></li>
      #end
    </ul>
  </div>
  <div>
    <a class= "links" href="/stylists/new">Add a Stylist</a>
  </div>
</div>
